<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>About Us</title>
</head>

<body>

    <div id="wrapper">
        <a id="top"></a>
        <div class="header">
            <img class="logo" src="{% static 'logo.png' %}" alt="logo">
            <h1>Call Us: (408)646-6516</h1>
        </div>
        <div class="main">
            <nav class="navbar">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        {% if not request.session.user_id %}
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Register</a>
                        </li>
                        {% endif %}
                        {% if not request.session.user_id %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log In</a>
                        </li>
                        {% endif %}
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">CEU Courses >></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CEU Certificates</a>
                        </li> -->
                        {% if request.session.user_id %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About Us</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="section">
                <img class="course_icon" src="{% static 'aboutUs.png' %}" alt="AboutUs">
                <h1>About Us</h1><br>
                <p> California licensed Acupuncturists are required to receive Continuing Education to renew their license every two years. We provide the highest quality courses to help you meet this requirement. We offer classes in Chinese Herbs, Acupuncture and many other related subjects.</p><br>
                <h2> Our Mission</h2><br>
                <p>We offer high quality and cost-effective continuing education to enable TCM practitioners to gain holistic evidence-based alternative medicine healing techniques. </p><br>
                <h2>Our Vision</h2><br>
                <p>Each patient you have served will become intrinsically appreciate alternative medicine natural healing benefits while desperately wanting to promote alternative medicine to help to enhance family or community overall wellbeing. </p>
            </div> 
        </div>
                  <div class="footer">
                    <a href="#top">Back To Top</a>
                </div>
            
        </div>

</body>

</html>