<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation Page!</title>
</head>
<body>
    Thank you, {{ user.fname }} for your order.

    Your order # {{order_number}}
    
    <ul>
        Your order summary is: 
        {% for order in orders %}
            <li>{{order.courses_ord.name}}</li>
        {%endfor%}
    </ul>

    <div class="col">
        <a href="/"><input class="btn btn-primary" type="submit" value="Return to Main"></a>
    </div>
</body>
</html>